node_modules

# Cypress
cypress/videos
cypress/screenshots

# Reports
mochawesome-report
index.json

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/